<%= form_with(model: check_item) do |form| %>
  <% if check_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(check_item.errors.count, "error") %> prohibited this check_item from being saved:</h2>

      <ul>
        <% check_item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :book_id %>
    <%= form.text_field :book_id %>
  </div>

  <div class="field">
    <%= form.label :favorite_id %>
    <%= form.text_field :favorite_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
